*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #E5E5E5;
}

.todo {
  margin: 150px auto;
  max-width: 476px;
  background: #fff;
}

.wrapper {
  padding: 12px 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
margin: 12px 0;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #000000;
}

.button  {
  width: 18px;
  height: 18px;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-del {
  background: url('./assets/close-icon.svg');
  width: 18px;
  height: 18px;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform: rotate(45deg);
}

.img-input {
  width: 18px;
  height: 18px;
}

.section {
  padding: 0 12px;
  display: flex;
  align-items: center;
  width: 460px;
  height: 45px;
  border: 1px solid #989898;
  border-radius: 6px;
}

.input-hight, .input-low {
  width: 90%;
  height: 21px;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #202020;
}

.wrap-check-box {
  margin-top: 12px;
  width: 460px;
  padding: 0 12px;
  border: 1px solid #989898;
  border-radius: 6px;
}

.check-box {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 30px;
}

.check-box-style {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #998899;
  border-radius: 50%;
  cursor: pointer;
}

.check-box:checked + .check-box-style:before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #C4C4C4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-checkox {
  width: 18px;
  height: 18px;
  transform: rotate(45deg);
}

.content {
  max-width: 300px;
  margin-left: 20px;
  padding-left: 12px;
}

label {

}